/*
  styles for rehype-code-titles plugin
*/

.rehype-code-title {
  border-width: 2px 2px 0 2px;
  border-color: #475569;
  color: #475569;
  width: fit-content;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 0.1rem 0.75rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
}

html.dark .rehype-code-title {
  border-color: #ffe4e6;
  color: #ffe4e6;
}

pre {
  padding: 0 !important;
  margin-top: 0 !important;
}
