/*
  styles for rehype-code-titles plugin
*/

.rehype-code-title {
  background-color: #f1f5f9;
  color: #24292e;
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 0.1rem 0.75rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

html.dark .rehype-code-title {
  background-color: #475569;
  color: #adbac7;
}

.rehype-code-title + pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 1px !important;
}