/*
  styles for rehype-code-titles plugin
*/

.rehype-code-title {
  background-color: #fff;
  color: #000;
  width: fit-content;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 0.1rem 0.75rem;
  margin: 0 1rem 0.1rem 1.5rem;
}

html.dark .rehype-code-title {
  background-color: #22272e;
  color: #adbac7;
}

pre {
  padding: 0 !important;
  margin-top: 0 !important;
}
