/*
  styles for rehype-autolink-headings plugin
*/

h1,
h2,
h3 {
  display: flex;
  align-items: center;
}

:is(h1, h2, h3) a > svg {
  opacity: 0.2;
}

html.dark :is(h1, h2, h3) a > svg {
  opacity: 0.5;
}

:is(h1, h2, h3):hover a > svg,
html.dark :is(h1, h2, h3):hover a > svg {
  opacity: 1;
}

h1 a > svg {
  margin-left: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

h2 a > svg {
  margin-left: 0.4rem;
  width: 1.25rem;
  height: 1.25rem;
}

h3 a > svg {
  margin-left: 0.3rem;
  width: 1rem;
  height: 1rem;
}
