/* styles for remark-gfm plugin */

ul.contains-task-list {
  list-style-type: none;
  padding-left: 0;
}

ul.contains-task-list li ul {
  padding-left: 1rem;
}

/* styles for rehype-autolink-headings plugin */

h1,
h2,
h3 {
  display: flex;
  align-items: center;
}

:is(h1, h2, h3) a > svg {
  opacity: 0.2;
}

html.dark :is(h1, h2, h3) a > svg {
  opacity: 0.4;
}

:is(h1, h2, h3):hover a > svg,
html.dark :is(h1, h2, h3):hover a > svg {
  opacity: 1;
}

h1 a > svg {
  margin-left: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

h2 a > svg {
  margin-left: 0.4rem;
  width: 1.25rem;
  height: 1.25rem;
}

h3 a > svg {
  margin-left: 0.3rem;
  width: 1rem;
  height: 1rem;
}

/* styles for rehype-pretty-code plugin */

pre {
  padding: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

pre > code {
  padding: 1rem !important;
  overflow-x: auto !important;
}

code {
  padding: 0 0.25rem !important;
  border-radius: 0.25rem !important;
  font-weight: revert !important;
}

code::before,
code::after {
  content: '' !important;
}

code[data-theme='dark'] {
  background-color: #22272e;
  display: none;
}

html.dark code[data-theme='dark'] {
  display: inline-block;
}

html.dark pre > code[data-theme='dark'] {
  display: grid;
}

code[data-theme='light'] {
  background-color: #fff;
  display: inline-block;
}

pre > code[data-theme='light'] {
  display: grid;
}

html.dark code[data-theme='light'] {
  display: none;
}

[data-rehype-pretty-code-title] {
  background-color: #f1f5f9;
  color: #475569;
  width: 100%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 0.1rem 0.75rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

[data-rehype-pretty-code-title][data-theme='dark'] {
  display: none;
}

html.dark [data-rehype-pretty-code-title][data-theme='dark'] {
  display: block;
}

[data-rehype-pretty-code-title][data-theme='light'] {
  display: block;
}

html.dark [data-rehype-pretty-code-title][data-theme='light'] {
  display: none;
}

html.dark [data-rehype-pretty-code-title] {
  background-color: #1e2228;
  color: #94a3b8;
}

[data-rehype-pretty-code-title] + pre,
[data-rehype-pretty-code-title] + pre > code {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

code .word {
  display: inline-block;
  padding: 0 0.25rem;
}

code > .line.highlighted,
code .word {
  background-color: #f1f4fd;
}

html.dark code > .line.highlighted,
html.dark code .word {
  background-color: #3b4148;
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1.5rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits='2'] > .line::before {
  width: 1.5rem;
}

code[data-line-numbers-max-digits='3'] > .line::before {
  width: 2rem;
}
